<h1>Listing given_answers</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @given_answers.each do |given_answer| %>
      <tr>
        
         <td><%#= given_answer.question_id %></td>
        <td>
          <%#= raise @que.inspect %>
          <%# @que = given_answer.question %>
          <%# @que.each do |q| %>
          <%#= q.question_text %>
           <%#end %>
          <%#= raise @que.inspect%>
          <%# @que = Question.where(:question_id => params[:id])%>
            <%#= raise @que.inspect%>
            <%= given_answer.question.question_text %>
        </td>
        <td><%= given_answer.answer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Given answer', new_given_answer_path %>
